---
# SNMP community password
# passwd:

# carbon_server: 192.168.1.10
# carbon_port: 2003
# carbon_metric_base: foo.bar.brocade

# To treat an OID as a rate, makes its value a list with second index = 'rate'
# oids:
#  swFCPortTxWords:
#    - 1.3.6.1.4.1.1588.2.1.1.1.6.2.1.11
#    - rate
#  swFCPortRxWords:
#    - 1.3.6.1.4.1.1588.2.1.1.1.6.2.1.12
#    - rate
#  fcFxPortLinkFailures: 1.3.6.1.2.1.75.1.3.1.1.1
#  fcFxPortSyncLosses: 1.3.6.1.2.1.75.1.3.1.1.2


